.card {
  position: relative;
  flex: 1;
  text-decoration: none;
  height: 100%;

  img {
    position: relative !important;
    margin-bottom: 0.5rem;
  }

  div {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    font-weight: 500;
  }
}

.textWhite {
  color: white;
}

.textDefault {
  color: #284941;
}
