.headerSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 2rem;
  background-color: rgba(0, 0, 0, 0.35);
  background-blend-mode: darken;
  background-image: url("../../../../public/home/fd-garden.webp");
  background-size: cover;
  background-position: center;
  font-family: "eb garamond";

  /* span {
    font-style: italic;
    font-weight: 300;
    text-shadow: 2px 2px 2px #00000011;
  } */

  @media (min-width: 768px) {
    height: 600px;
  }

  @media (min-width: 1024px) {
    height: 700px;
  }
}

.title {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  color: white;
  margin-bottom: 2rem;

  @media (min-width: 768px) {
    font-size: 4rem;
  }
}

.button {
  display: inline-block;
  background-color: white;
  color: black;
  font-size: 1.2rem;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  text-transform: capitalize;
  border: 2px solid white;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all 0.3s;
  font-family: "eb garamond";

  &:hover {
    background-color: white;
    color: black;
  }
}
