.wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.productsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: flex-start;
  padding-left: 2rem;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center;
}

.productItem {
  flex: 1 1 100%;
  max-width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex: 1 1 calc(50% - 2rem);
    max-width: calc(50% - 2rem);
  }

  @media (min-width: 1024px) {
    flex: 1 1 calc(33.333% - 2rem);
    max-width: calc(33.333% - 2rem);
  }
}
