.stockWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.sizeOption {
  display: inline-block;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  background-color: #f0f0f0;
  border-radius: 25px;
  min-width: 4.5rem;
  font-size: 0.8rem;
  text-align: center;
  user-select: none;
  transition: 0.3s ease;

  &:hover {
    background-color: #dfdfdf;
  }
}

.selected {
  background-color: black;
  color: white;

  &:hover {
    background-color: black;
    color: white;
  }
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
